{{ define "main" }}

    <h1>{{ .Title }}</h1>

    {{ .Content }}

    {{ range.Data.Pages }}
    <article class="post-snippet">
        <h3>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h3>

        {{ if .Params.imageUrl }}
            {{ with .Resources.GetMatch .Params.imageUrl }}
                <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
            {{ end }}
        {{ end }}

        <p class="description">{{ .Params.description }}</p>
    </article>
    {{ end }}

{{ end }}