<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body>

    {{ block "header" . }}{{ partial "nav" . }}{{end}}


      <div class="content-wrapper">
        {{ block "main-wrapper" . }}
          <main class="content">
            {{ block "main" . }}{{ end }}
          </main>
        {{end}}

        <div class="dark-ribbon footer-menu">
          <div class="content">
            <div class="pure-g ">
              <div class="pure-u-1 pure-u-lg-1-3">
                <ul>
                  <li><a href="/page/s-informer/">S'informer</a></li>
                  <li><a href="/page/les-impacts-sociaux-du-numérique/">Impacts sociaux</a></li>
                  <li><a href="/page/les-impacts-environnementaux-du-numérique/">Impacts environnemntaux</a></li>
                </ul>
              </div>
              <div class="pure-u-1 pure-u-lg-1-3">
                <ul>
                  <li><a href="/page/nos-actions/">Nos actions</a></li>
                </ul>
              </div>
              <div class="pure-u-1 pure-u-lg-1-3">
                <ul>
                  <li><a href="/page/equipe/">L'Equipe</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        {{ block "footer" . }}{{ partial "footer" . }}{{end}}
      </div>


    {{- $JS := slice
    (resources.Get "js/vendor/modernizr-3.11.2.min.js")
    (resources.Get "js/main.js")
    | resources.Concat "assets/js/main.js" | minify | fingerprint }}
    <script src="{{ $JS.RelPermalink }}"></script>
  </body>
</html>
