<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body>

    {{ block "header" . }}{{ partial "nav" . }}{{end}}


      <div class="content-wrapper">
        {{ block "main-wrapper" . }}
          <main class="content">
            {{ block "main" . }}{{ end }}
          </main>
        {{end}}

        {{ block "footer" . }}{{ partial "footer" . }}{{end}}
      </div>


    {{- $JS := slice
    (resources.Get "js/vendor/modernizr-3.11.2.min.js")
    (resources.Get "js/main.js")
    | resources.Concat "assets/js/main.js" | minify | fingerprint }}
    <script src="{{ $JS.RelPermalink }}"></script>
  </body>
</html>
