* {
    background: #fff !important;
    color: #222222 !important;
    font-family: arial, sans-serif !important;
    padding: 0 !important;
}

header, footer, img, picture, source {
    display: none !important;
}

.content-wrapper {
    position: absolute;
    top: 0;
    padding-top: 0 !important;
}

header div {
    display: none !important;
}

header img {
    display: none !important;
}

a {
    color: #222222 !important;
    text-decoration:none !important;
}

a[href]:after
{
    content:" (" attr(href) ")"
}