
<footer class="footer l-box is-center">

    <ul class="pure-menu pure-menu-horizontal menu-footer pure-g">
        {{ range.Site.Menus.bottomFooter.ByWeight }}
        <li class="pure-menu-item pure-u-1 pure-u-sm-1-3">
            <a href="{{ .URL }}" class="pure-menu-link">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</footer>

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>