<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Collectif d'entraide au numérique à Couëron : fracture numérique, écologie, réemploi avec Linux">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

    {{- $CSS := slice
                    (resources.Get "css/pure-min.css")
                    (resources.Get "css/grids-responsive-min.css")
                    (resources.Get "css/html5-boilerplate.css")
                    (resources.Get "css/style.css")
                    (resources.Get "css/menu.css")
                    | resources.Concat "assets/css/main.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $CSS.RelPermalink }}" media="all">

    {{- $CSSPRINT := slice (resources.Get "css/print.css") | resources.Concat "assets/css/print.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $CSSPRINT.RelPermalink }}" media="print">

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
