<div>
  <div class="pure-g">

    <h2 class="pure-u-1 pure-u-lg-1- is-center">{{.heading}}</h2>

    <div class="pure-u-1 pure-u-lg-1-2">

      <h2 >{{.heading}}</h2>

      <div>
        {{ if and .lien_1 .libelle_lien_1 }}
        <a href="{{ .lien_1 }}" class="button-calltoaction pure-button">
          {{.libelle_lien_1}}
        </a>
        {{ end }}

        {{ if and .lien_2 .libelle_lien_2 }}
        <a href="{{ .lien_2 }}" class="button-calltoaction pure-button">
          {{.libelle_lien_2}}
        </a>
        {{ end }}
      </div>
    </div>
    
  </div>
</div>
