{{ define "main-wrapper" }}

<article>
    {{ .Params.body }}
</article>

<article>
    {{ .Content }}
</article>




<div class="dark-ribbon">
    <div class="content">
        {{ partial "intro" .Params.bloc1}}
    </div>
</div>

<div class="light-ribbon">
    <div class="content">
        {{ partial "short-text-imgonleft" .Params.bloc2}}
    </div>
</div>

<div class="dark-ribbon">
    <div class="content">
        {{ partial "short-text-imgonright2" .Params.bloc3}}
    </div>
</div>


{{ end }}