{{ define "main-wrapper" }}

<div class="dark-ribbon">
    <div class="content">
        {{ partial "intro" .Params.bloc1}}
    </div>
</div>

<div class="flash-ribbon">
    <div class="content is-center">
        <h2>&ldquo;1 français sur 5 est démuni face à l'usage d'Internet.&rdquo;</h2>
        Source : INSEE
    </div>
</div>


<div class="light-ribbon">
    <div class="content">
        {{ partial "short-text-imgonleft" .Params.bloc2}}
    </div>
</div>

<div class="flash-ribbon">
    <div class="content is-center">
        <h2>&ldquo;Il faut 800Kg de matières premières pour fabriquer un ordinateur portable de 2kg, soit 400 fois son poids.&rdquo;</h2>
        Source : ADEME
    </div>
</div>

<div class="light-ribbon">
    <div class="content">
        {{ partial "short-text-imgonleft" .Params.bloc3}}
    </div>
</div>

{{ end }}